* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(185, 226, 191);
  margin: 0;
  padding: 0;
  font-family: 'Pacifico', cursive;
}

.logo {
  grid-area: logo;
  background-color: #43ce4f;
  padding: 2px;
  border: 2px; 
  text-align: center;
   
}

.imagenlogo {
  height: auto;
  width: auto;
 
   }

.header {
  grid-area: header;
  background-color: #43ce4f;
  padding: 5px;
  text-align:center;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  

}
h2 {
  font: size 16px;
  font-family: 'Roboto', sans-serif;
  text-align:center;
}

p {
  font-size: 13px;
  }

.iconos {
  grid-area: iconos;
  padding: 10px;
  background-color: #43ce4f;
  text-align: center;
}

.nav {
  grid-area: nav;
  background-color: rgb(6, 112, 33);
  display: inline-block;
  padding: 2px;
  text-align: center;
  font-family: 'Pacifico', cursive;
  /*font google*/
}

li {
  display: inline-block;
  margin: 5px;
  padding: 2px;
  width: 40vh;
  text-align: center;
}

a:hover {
  color: rgb(30, 233, 12);
}

a {
  text-decoration: none;
  font-size: 14px;
  color: #FFFFFF;
  margin: 40px;
  

}

.grid-container {
  display: grid;
  grid-template-areas:
    'logo header header header header iconos'
    'nav nav nav nav nav nav'
    'izq izq med med der der'
    'footer footer footer footer footer footer';
}

.izq,
.med,
.der {
  padding: 5px;
  height: max-content
}


.izq {
  grid-area: izq;
  text-align: center;

}


.med {
  grid-area: med;
  text-align: center;

}


.der {
  grid-area: der;
  text-align: center;

}


.footer {
  grid-area: footer;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  padding: 40px;
  height: max-content;
}

/*Responsive */
@media (max-width: 600px) {
  .grid-container {
    grid-template-areas:

      'logo logo logo logo logo logo'
      'header header header header header header'
      'iconos iconos iconos iconos iconos iconos'
      'nav nav nav nav nav nav'
      'izq izq izq izq izq izq'
      'med med med med med med'
      'der der der der der der'
      'footer footer footer footer footer footer';
  }
}