* {
    border: 0;
    padding: 0;
    margin: 0;
}


body {
    background-color: rgb(185, 226, 191);
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  

  .header {
    grid-area: header;
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
  }
  
  .nav {
    grid-area:nav;
    background-color:rgb(228, 13, 13);
    padding: 30px;
    text-align: center;
    font-size: 35px;
  }

  .grid-container {
    display: grid;
    grid-template-areas: 
      'header header header header header header' 
      'nav nav nav nav nav nav'
      'izq izq med med der der' 
      'footer footer footer footer footer footer';
  }
  
  .izq,
  .med,
  .der {
    padding: 10px;
    height:max-content 
  }
  

  .izq {
    grid-area: izq;
  }
  

  .med {
    grid-area: med;
  }
  

  .der {
    grid-area: der;
  }
  

  .footer {
    grid-area: footer;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    padding: 40px;
  }
  
  /*Responsive */
  @media (max-width: 600px) {
    .grid-container  {
      grid-template-areas: 
        'header header header header header header' 
        'izq izq izq izq izq izq' 
        'med med med med med med' 
        'der der der der der der' 
        'footer footer footer footer footer footer';
    }
  }